<div class="search-main-container">
  <%= form_with url: root_path, method: :get, local: true do %>
    <div class="search-container">
      <div class="input-fields-row">

        <div class="input-field">
          <label for="source-input">Source</label>
          <%= render 'shared/input_dropdown', {
              id: 'source-input',
              placeholder: 'Enter source city',
              name: 'source',
              value: params[:source],
              options: ['Delhi', 'Mumbai', 'Bengaluru', 'Hyderabad', 'Chennai', 'Kolkata', 'Ahmedabad', 'Pune', 'Goa', 'Jaipur'],
              required:true
          } %>
        </div>

        <div class="input-field">
          <label for="destination-input">Destination</label>
          <%= render 'shared/input_dropdown', {
              id: 'destination-input',
              placeholder: 'Enter destination city',
              name: 'destination',
              value: params[:destination],
              options: ['Delhi', 'Mumbai', 'Bengaluru', 'Hyderabad', 'Chennai', 'Kolkata', 'Ahmedabad', 'Pune', 'Goa', 'Jaipur'],
              required:true
          } %>
        </div>

        <div class="input-field">
          <label for="departure_date">Departure Date</label>
          <input
            type="date"
            id="departure_date"
            name="departure_date"
            class="date-picker"
            value="<%= params[:departure_date].presence || Date.today.strftime('%Y-%m-%d') %>"
            min="<%= Date.today.strftime('%Y-%m-%d') %>"
          />
        </div>

       <div class="input-field">
        <label for="travellers_count">Travellers</label>
        <div class="traveller-counter">
          <button type="button" class="counter-btn">-</button>
          <input
            type="number"
            id="travellers_count"
            name="travellers_count"
            min="1"
            max="9"
            value="<%= params[:travellers_count].presence || 1 %>"
            readonly
          />
          <button type="button" class="counter-btn">+</button>
        </div>
      </div>
      <div class="input-field">
        <label for="class_type">Class Type</label>
        <%= render 'shared/input_dropdown', {
            id: 'class_type',
            placeholder: 'Select class type',
            name: 'class_type',
            value: params[:class_type].presence || 'Economic',
            options: ['Economic', 'Second Class', 'First Class']
        } %>
      </div>
        <div class="input-field">
          <div class="search-button-wrapper">
            <%= submit_tag "Search", class: "search-button" %>
          </div>
        </div>
        
      </div>

      <div class="search-error" id="search-error"></div>
    </div>
  <% end %>
</div>
